body{
    background-color: wheat;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.item{
    background-color: pink;
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
    flex-basis: 32%;
}
